.background{
    background-image: url('../../../images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px 0;
    height: 500px;
    
}
 .btn{
     background-color: #9892da;
     color: rgb(17, 20, 20);
    
 }

.txt-cl{
    color: rgba(38, 51, 53, 0.589);
}